/* Thiết lập kích thước font cơ bản */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

/* Khi màn hình lớn hơn hoặc bằng 768px (tablet, desktop), tăng kích cỡ chữ */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


/* Hiệu ứng focus cho các button, input và form-control */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
